*{
    margin: 0;
    padding: 0;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.container{
    max-width: 1300px;
    margin: auto;
}
.card{
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 4px 4px 6px #ddd, -4px -4px 6px #ddd;
    background-color: #fff;
    padding: 15px;
    margin-top: -50px;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}


/* Main Body */
.Content{
    background: rgb(238, 240, 241);
    /* padding-top: 100px; */
    height: 100vh;
}
.c-left{
    width: 58%;
    margin-top: 200px;
}

.logo{
    width: 340px;
    margin: auto;
}
.logo p{
    font-size: 20px;
    font-weight: 500;
}
.logo a{
    color: rgb(28, 113, 224);
    font-weight: 600;
    font-size: 70px;
}

/* Right Side */
.c-right{
    width: 42%;
    margin-top: 200px;
}
.form{
    width: 380px;
    
}
.form input{
    background-color: rgb(245, 240, 195);
    border: none;
    border-radius: 5px;
    width: 380px;
    height: 50px;
    margin-bottom: 15px;
}

.LogIn{
    margin-bottom: 15px;
}
.LogIn a{
    display: inline-block;
    background: rgb(37, 111, 247);
    padding: 15px 163px;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
}

.Forgotten{
    margin-bottom: 15px;
}
.Forgotten a{
    color:  rgb(37, 111, 247);
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    padding: 0px 105px 15px 105px;

}


.create a{
    color: #fff;
    background: rgb(52, 180, 49);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
    display: inline-block;
}

.create_page{
    width: 322px;
    margin-top: 15px;
    margin-left: 4..0px;
}
.create_page a{
    font-size: 15px;
    font-weight: 900;
    color: black;
    display: inline-block;
}
.create_page p{
    font-size: 15px;
    display: inline;
}


@media screen and (max-width:992px){
   
    .c-left{
        width: 100%;
    }
    .logo a{
        font-size: 15px;
    }
    .c-right{
        width: 100%;
    }
    .card{
        font-size: 10px;
    }
}




